.header {
    height: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-name {
    font-size: 16px;
    font-weight: bold;
}
.notifications {
    position:relative
}

.notification-icon {
    font-size: 24px;
    
}